.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('../../assets/img/error404.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.error-container__title {
    font-size: 5.4rem;
    font-family: 'Gochi Hand', sans-serif;
    color: white;
}

.error-container__mensaje {
    font-size: 2.6rem;
    color: white;
    text-align: center;
}