header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    min-width: 320px;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1400px;
    min-height: 80px;
    border-bottom: 1px solid #ebebeb;
    padding: 0 10px;
}

header .logo {
    width: 200px;
    min-width: 200px;
}

header .logo img {
    width: 100%;
}

.nav-elements-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

