.deals-container {
    width: 100%;
    max-width: 770px;
    margin: 30px auto;
}

.deals-container__title {
    color:var(--black-leter);
    font-family: 'Gochi Hand', sans-serif;
    font-size: 4.6rem;
    text-align: center;
    margin-bottom: 40px;
}