.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    width: 100%;
    height: calc(100vh - 146.44px);
    background-color: var(--primary-green);
    overflow: hidden;
}

.hero__slide {
    width: 100%;
    height: 100%;
    animation: zoom 8s 0s;
    background-image: url('../../assets/img/ingredientes-para-pan.jpg');
    filter: brightness(0.8);
}

.hero__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.hero__title {
    font-family: 'Gochi Hand', sans-serif;
    font-size: 6rem;
    color: var(--just-white);
    text-align: center;
    text-shadow: 1px 1px 4px rgb(29, 25, 25, 0.1);
}

.hero__paragraph {
    font-size: 2rem;
    color: var(--just-white);
    padding-bottom: 40px;
    text-align: center;
}

.hero__button {
    justify-self: flex-end;
    background-color: var(--black);
    border: none;
    border-radius: 25px;
    color: var(--just-white);
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    height: 50px;
    outline: none;
    width: 140px;
    box-shadow: 0 0 0 rgba(88, 120, 243, 0.4);
    animation: pulseAnim 2s infinite;
}

.swipe {
    fill: hsl(243, 80%, 62%);
    animation: arrowAnimation 1.5s infinite ease-out;
}

@keyframes pulseAnim {
    0% {
        box-shadow: 0 0 0 0 rgba(23, 112, 110, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(88, 120, 243, 0);
    }
}


@keyframes arrowAnimation {
    0% {
        transform: translateY(-20px);
        opacity: 0
    }
    30% {
        opacity: 1
    }
    60% {
        opacity: 1
    }
    to {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0
    }
}