.item-count-main {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    max-width: 270px;
}

.count-container {
    border: 1px solid #dfe1e5;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 7px;
    width: 100px;
}

.count-container:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
    border-color: rgba(223, 225, 229, 0);
}

.count-container__number {
    font-size: 1.6rem;
}

.count-container button {
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.add-cart {
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #17706e;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.add-cart--detail-page {
    width: 130px;
}

.add-cart:hover {
    transition: all ease-in 100ms;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add-cart:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}