.loading {
    font-size: 3rem;
    color: #999999;
}

.item-list-container {
    animation-name: show;
    animation-timing-function: ease;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}