.loading-container {
    display: flex;
    height: calc(100vh - 80px);
    flex-direction: column;
    justify-content: center;
}

.loading {
    font-size: 3rem;
    color: #999999;
    text-align: center;
}

.item-list-container--grid {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 270px);
    gap: 20px;
    padding: 20px;
}

.item-list-container--list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    overflow: auto;
}

.item-list-container__item {
    animation-name: show;
    animation-timing-function: ease;
    animation-duration: 800ms;
}

@keyframes show {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}