.review-container {
    display: flex;
}

.review-container li {
    list-style: none;
    width: 25px;
    height: 25px;
}

.positive-star {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/icons/star-active.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.negative-star {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/icons/star-negative.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}