.search-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    min-width: 30px;
    margin: 0 10px;
    background-image: url('/src/assets/icons/search-24px.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .6);
    z-index: 9999;
    position: fixed;
    left: 0;
    animation: slide 400ms ease;
    animation-fill-mode: forwards;
}

.search-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 210px;
    background-color: white;
    padding: 25px 15px
}

.search-box p {
    font-size: 1.6rem;
    color: #999;
    margin-left: 10px;
}


.form-search {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 90%;
    border-bottom: 2px solid #e4e4e4;
    margin: 15px 10px;
}

.form-search__input {
    outline: 0;
    border: 0;
    font-size: 2.2rem;
    margin-right: 5px;
    width: 80%;
}

.form-search__button {
    outline: 0;
    border: 0;
    background-color: transparent;
}

.form-search__button i {
    fill: #999;
}

.result-box{
    min-width: 320px;
    min-height: 520px;
    background-color: red;
}